<div class="col-md-8 offset-md-3">
  <h1><%= @center.name %></h1>

  <div class="show_main">
    <ul>
      <li>Name: <%= @center.name %></li>
      <li>Contact: <%= number_to_phone @center.contact, :area_code => true %></li>
      <li>Address: <%= @center.address %></li>
    </ul>

    <% if @center.animals.present? %>
      <% @center.animals.each do |animal| %>
        <%= link_to cl_image_tag(animal.image, :class => 'thumb'), animal %>
      <% end %>
    <% end %>
  </div>

  <div class="controls">
    <% if @current_user.present? %>
      <% if @current_user.admin? %>
        <%= link_to 'Edit Center Info', edit_center_path(@center.id) %>
        <%= link_to 'Delete this Center', center_path(@center.id), :method => 'delete' %>
      <% end %>
    <% end %>
  </div>
</div>
