<div class="col-md-4 offset-md-4">
  <%= form_for @animal do |f| %>

    <div class="form-group">
      <%= f.label :species %>
      <%= f.text_field :species, :required => true, :autofocus => true %>
    </div>

    <div class="form-group">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>

    <div class="form-group">
      <%= f.label :sex %>
      <%= f.text_field :sex %>
    </div>

    <div class="form-group">
      <%= f.label :color %>
      <%= f.text_field :color %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :center_id %>
      <%= f.select :center_id, Center.pluck(:name, :id), :include_blank => true %>
    </div>

    <%= f.submit nil, :class => 'btn btn-outline-dark' %>
  <% end %>
</div>
